fastapi
uvicorn[standard]
gunicorn

motor
pydantic
pydantic[email]

python-dotenv
python-jose

dnspython
requests
Pillow
razorpay
python-multipart

passlib==1.7.4
bcrypt==4.0.1
argon2-cffi

ultralytics